// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974
#include "./RSParser_project.xcconfig"

CODE_SIGN_IDENTITY = Developer ID Application
CODE_SIGN_STYLE = Manual
PROVISIONING_PROFILE_SPECIFIER = 

// See the notes in RSParser_target.xcconfig on why the
// DeveloperSettings.xcconfig is #included here
#include? "../../../SharedXcodeSettings/DeveloperSettings.xcconfig"
#include? "../SharedXcodeSettings/DeveloperSettings.xcconfig"

INFOPLIST_FILE = Info.plist
PRODUCT_BUNDLE_IDENTIFIER = com.ranchero.RSParser

HEADER_SEARCH_PATHS = "${SDKROOT}/usr/include/libxml2";
INSTALL_PATH = $(LOCAL_LIBRARY_DIR)/Frameworks
SKIP_INSTALL = YES
DYLIB_COMPATIBILITY_VERSION = 1
DYLIB_CURRENT_VERSION = 1
DYLIB_INSTALL_NAME_BASE = @rpath
LD_RUNPATH_SEARCH_PATHS = $(inherited) @executable_path/../Frameworks @loader_path/Frameworks
DEFINES_MODULE = YES
FRAMEWORK_VERSION = A
PRODUCT_NAME = $(TARGET_NAME)
CLANG_ENABLE_MODULES = YES
APPLICATION_EXTENSION_API_ONLY = YES
